.container1 {
  border: 2px solid red;
  border-radius: 13px;
  /* opacity: 0.7; */
  margin: 20px;
  display: flex;
  justify-content: center;
}
body {
  background-color: antiquewhite;
  opacity: 0.9;
}
.container {
  border: 10px;
}
